@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    height: 10vh;
}

.main {
    height: 90vh;
}

.screen {
    width: 100vw;
    height: 100vh;
}

.main {
    height: 90vh;
}

.match-no {
    width: 3vw;
}

.CSK {
    background-color: yellow;
    color: blue;
}

.RCB {
    background-color: red;
    color: rgb(25, 19, 34);
}

.PBKS {
    background-color: rgb(224, 42, 42);
    color: yellow;
}

.DC {
    background-color: blue;
    color: rgb(129, 35, 35);
}

.KKR {
    background-color: purple;
    color: yellow;
}

.RR {
    background-color: rgb(255, 0, 255);
    color: blue;
}

.LSG {
    background-color: rgb(0, 132, 255);
    color: black;
}

.GT {
    background-color: rgb(2, 2, 32);
    color: yellow;
}

.MI {
    background-color: rgb(10, 64, 179);
    color: yellow;
}

.SRH {
    background-color: orange;
    color: black;
}

.score {
    width: 4vw;
    height: 38px;
}